<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#Web_Hive | web solutions</title>
    <link rel="stylesheet" href="no_worry.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Akshar:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="brand">
            <h1>#Web_Hive.</h1>
        </div>
        <div class="menu_title">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">portfolio</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                <li><button>Blog</button></li>
            </ul>
        </div>
        <div class="search_icon">
            <p>Search</p>
            <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
        </div>
    </nav>
    
    <section class="home">
        <div class="home_section">
            <div class="lines">
                <h1>GOOD DESIGN IS GOOD BUSINESS</h1>
                <p>Lorem ipsum o aliquam! Minus autem porro aspernatur architecto, dolore voluptas?<BR>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ducimus delectus qui iure omnis ipsam, harum, liberoasperiores. </p>
                <button>LEARN MORE</button>
            </div>
        </div>
    </section>

    <section class="service">
        <div class="service_title1">
            <div class="service_title">
                <h1>OUR SERVICES</h1>
            </div>
        </div>
        <div class="s_card_section">
              <!--card1-->
            <div class="s_card1">
                <div class="s_card1_img">
                    <img src="bw6.jpg" alt="Web Design">
                </div>
                <div class="card-txt">
                    <h3>Web Design</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores, dolor. <a href=""> Details...</a></p>
                </div>
            </div>
               <!--card1-->
            <div class="s_card1">
                <div class="s_card1_img">
                    <img src="bw6.jpg" alt="Search Optimization">
                </div>
                <div class="card-txt">
                    <h3>Search Optimization</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores, dolor. <a href=""> Details...</a> </p>
                </div>
            </div>
               <!--card1-->
            <div class="s_card1">
                <div class="s_card1_img"> 
                    <img src="bw6.jpg" alt="Online Shop">
                </div>
                <div class="card-txt">
                    <h3>Online shop</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores, dolor.<a href=""> Details...</a></p>
                </div>
            </div>
               <!--card1-->
            <div class="s_card1">
                <div class="s_card1_img"> 
                    <img src="bw6.jpg" alt="Social Media">
                </div>
                <div class="card-txt">
                    <h3>Social Media</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores, dolor. <a href=""> Details...</a></p>
                </div>
            </div>
        </div>
    </section>
 
    <section class="portfolio">
        <div class="portfolio_head">
            <h1>Our Portfolio Awesome</h1>
            <button>More Work</button>
        </div>
        <div class="portfolio_card_container">
            <!--portfolio_card1-->
            <div class="portfolio_card_sub_container">
                <div class="portfolio_card1">
                    <img src="camera.jpg" alt="image"  >
                </div>
                <div class="portfolio_card1_lines">
                    <h3>Lorem ipsum.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing, eligendi?</p>
                </div>
            </div>
            <!--portfolio_card1-->
            <div class="portfolio_card_sub_container">
                <div class="portfolio_card1">
                    <img src="camera.jpg" alt="image">
                </div>
                <div class="portfolio_card1_lines">
                    <h3>Lorem ipsum.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing, eligendi?</p>
                </div>
            </div>
            <!--portfolio_card1-->
            <div class="portfolio_card_sub_container">
                <div class="portfolio_card1">
                    <img src="camera.jpg" alt="image">
                </div>
                <div class="portfolio_card1_lines">
                    <h3>Lorem ipsum.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing, eligendi?</p>
                </div>
            </div>
        </div>
    </section>
    
    <section class="offer">
        <div class="offer_head">
            <h1>WHAT WE OFFER</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus eligendi <br>eveniet dolorem provident mollitia! Eum debitis ad eligendi repudiandae modi?</p>
        </div>
        <div class="offer_card_container">
            <div class="card1">
                <h3>Web Design</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat perspiciatis possimus neque ab.</p>
                <button>Details</button>
            </div>
            <div class="card1">
                <h3>Search Optimization</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat perspiciatis possimus neque ab.</p>
                <button>Details</button>
            </div>
            <div class="card1">
                <h3>Online Shop</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat perspiciatis possimus neque ab.</p>
                <button>Details</button>
            </div>
            <div class="card1">
                <h3>Social Media</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat perspiciatis possimus neque ab.</p>
                <button>Details</button>
            </div>
        </div>
    </section>

    <section class="testimonials">
        <div class="testimonials_section">
            <h1>TESTIMONIALS</h1>
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo vero obcaecati esse quasi dolor?<br> Ipsam libero similique magnam, saepe minima mollitia consequatur.</h4>
            <div class="detail">
            <p id="ceo">Jon Doe / CEO Lorem, ipsum.</p>
            </div>
            <div class="image_container">
                <div class="img_card"  >
                    <img src="camera.jpg" alt="">
                </div>
                <div class="img_card">
                    <img src="camera.jpg" alt="">
                </div>
                <div class="img_card">
                    <img src="camera.jpg" alt="">
                
                </div>
            </div>
        </div>
    </section>
    <section class="contact">
        <div class="contact_container">

            <div class="birdfeeds">
                <h1>BIRD FEEDS</h1>
                <p>Lorem ipsum dolor sit.</p>
                <a href="">Lorem, ipsum dolor.</a>
                <p>2 weeks ago</p>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                <a href="">Lorem, ipsum dolor.</a>
                <p>2 weeks ago</p>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
                <a href="">Lorem, ipsum dolor.</a>
                <p>2 weeks ago</p>
            </div>
            <div class="newsletter">
                <h1>NEWS LETTER</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi, perferendis?</p>
                <hr>
                <form action="">
                    <input type="text" placeholder="Your Email Address"><br>
                    <button type="submit">Sign Up</button>
                </form>
            </div>
            <div class="recentprojects">
                <h1>RECENT PROJECTS</h1>
                <div class="rp_card">
                    <div class="rp_square"></div>
                    <p>Lorem ipsum amet. <br> <a href="">Lorem, ipsum dolor.</a> <br> 2 weeks ago</p>
                </div>
                <hr>
                <div class="rp_card">
                    <div class="rp_square"></div>
                    <p>Lorem ipsum amet. <br> <a href="">Lorem, ipsum dolor.</a> <br> 2 weeks ago</p>
                </div>
                <hr>
                <div class="rp_card">
                    <div class="rp_square"></div>
                    <p>Lorem ipsum amet. <br> <a href="">Lorem, ipsum dolor.</a> <br> 2 weeks ago</p>
                </div>
            </div>
            <div class="contact1">
                <h1>CONTACT</h1>

                <div class="ct_card">
                    <div class="ct_icon"></div>
                    <p>1-000-000-0000<br>1-000-000-0000</p>
                </div>
                
                <div class="ct_card">
                    <div class="ct_icon"></div>
                    <p>1-000-000-0000 <br> 1-000-000-0000</p>
                </div>
                
                <div class="ct_card">
                    <div class="ct_icon"></div>
                    <p>Lorem ipsums.<br>Lorem islpsum.</p>
                </div>
            </div>
        </div>   
    </section>

</body>
</html>